header{
    border-bottom: 5px solid;
    background-color: aqua;
    height: 100px;
}

body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.blocks{
    border: 2px solid red;
    width: 20%;
    height: 100px;
    padding: 5px;
    float: left;
    overflow: scroll;
}
.blocks img{
    height: 100px;
    width: 100%;
}
@media screen and (max-width:1200px){
    header{
        background-color: red;
    }
    
}
@media  screen and (max-width:992px) {
    header{
        background-color: blue;
    }
    .blocks{
        width: 25%;
    }
    
}
@media screen and (max-width:768px) {
    header{
        background-color: chartreuse;
    }
    .blocks{
        width: 33.33333%;
    }
    
}
@media screen and (max-width:576px) {
    header{
        background-color: rgb(200, 0, 255);
    }
    .blocks{
        width:50% ;
    }
    
}
@media screen and (max-width:320px) {
    header{
        background-color: rgb(14, 17, 14);
    }
    .blocks{
        width:100% ;
    }
    
}

