/* General page styles */
.container {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    color: #333;
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  .table-container {
    margin-top: 20px;
    text-align: left;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid red;
  }
  .employee-table{
    border: #e74c3c;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .no-employees-message {
    text-align: center;
    font-style: italic;
    color: #e74c3c;
  }
  
  .details-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .details-container p {
    margin: 8px 0;
  }
  
  .details-container strong {
    color: #2c3e50;
  }
  